body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #531c1c;
}

.container {
  background-color: #514444;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button-group {
  margin-bottom: 20px;
}

.button-group button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-group button:first-child {
  margin-right: 100px;
}

.button-group button:hover {
  background-color: #ddd;
}

.result {
  margin-bottom: 20px;
}

.result p {
  margin-bottom: 10px;
}

.result-label {
  font-weight: bold;
}

.result-text {
  color: #333;
  font-size: 18px;
}
